<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= mytitle %>
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm a Web Developer, Designer, and I'm passionate and dedicated to my work. I have acquired the skills and knowledge necessary to make your project a success.">
    <meta name="keywords" content="ux design,ux designer,ux designer career,ux,learn ux design,ux designer day in the life,product designer,user experience design,ux design process,ui design,ux ui design,what does a ux designer do,ux ui designer,ui ux design,ui designer,design,designer ux,designer,day in the life of a ux designer,ux design jobs,what is ux design,ux designer day,junior ux designer,ux designer salary,design ux,ux designer daily life,product design,web developer,developer,web development,web developer salary,become a web developer,web,web developer portfolio,learn web development,software developer,full stack developer,web developer reacts,web developer career,web developer roadmap,front end web developer,web developer interview,web developer freelance,web developer kaise bane,diventare web developer,web development tutorial for beginners,self taught web developer">
    <meta name="author" content="Jasser Hachaichi">
    <link rel="icon" href="images/JHmini-blue.png">
    <link rel="shortcut" href="images/JHmini-blue.png">
    <link rel="apple-touche-icon" href="images/JHmini-blue.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

