<%- include('./partials/head') %>
    <link rel="stylesheet" href="blog.css">
    </head>


    <%- include('./partials/navbar') %>

        <!-- Post Content -->
        <section class="post-header">
            <div class="header-content post-container">
                <!-- Back To Home -->
                <a href="/jasserblog" class="back-home"> Back To Home </a>
                <!-- Title -->
                <h1 class="header-title"> How To Create Best UX Design With Adobe Xd </h1>
                <!-- Post Image -->
                <img src=" img/post-1.jpg" alt=" " class="header-img">
            </div>
        </section>
        <!-- Posts -->
        <section class="post-content post-container">
            <h2 class="sub-heading"> Create Best UX Design </h2>
            <p class="post-text"> Lorem ipsum , dolor sit amet consectetur adipisicing elit . Opt Lorem ipsum , dolor
                sit amet consectetur adipisicing elit . Opt Lorem ipsum , dolor sit amet consectetur adipisicing elit .
                Opt</p>
            <p class=" post - text "> Lorem ipsum , dolor sit amet consectetur adipisicing elit . Opt Lorem ipsum ,
                dolor sit amet consectetur adipisicing elit . Opt Lorem ipsum , dolor sit amet consectetur adipisicing
                elit . Opt </p>
            <h2 class="sub-heading"> Create Best UX Design </h2>
            <p class="post-text"> Lorem ipsum , dolor sit amet consectetur adipisicing elit . Opt Lorem ipsum , dolor
                sit amet consectetur adipisicing elit . Opt Lorem ipsum , dolor sit amet consectetur adipisicing elit .
                Opt</p>
            <p class=" post - text "> Lorem ipsum , dolor sit amet consectetur adipisicing elit . Opt Lorem ipsum ,
                dolor sit amet consectetur adipisicing elit . Opt Lorem ipsum , dolor sit amet consectetur adipisicing
                elit . Opt </p>
        </section>
        <!-- Share -->
        <div class="share post-container">
            <span class="share-title"> Share this article </span>
            <div class="social-blog">
                <a href="https://www.facebook.com/jasser.hachaichi.14"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.behance.net/jasserhach"><i class="fab fa-behance"></i></a></i>
                <a href="https://www.instagram.com/jasser_hach/?hl=fr"><i class="fab fa-instagram"></i></a>
                <a><i id="yt" class="fab fa-youtube"></i></a>
            </div>
        </div>








        <!-- footer section start -->
        <%- include('./partials/footer') %>

            </html>